%p
  %strong= "Name of the Author"
  = @author.name
%p
  %strong= "Biography"
  = @author.biography
%p
  %strong= "Year of Birth"
  = @author.birth_year
%p
  %strong= "Nationality"
  = @author.nationality