.author-information
  .author-image.pull-left= image_tag @author.image.url(:medium)
  %h4= @author.name
  .author-data= "was born on #{@author.birth_year}"
  .author-data= "and died on #{@author.death_date}" unless @author.death_date.nil?
  .author-data.clearfix= "Nationality: #{@author.birth_country}" 
.author-description
  %strong= "Biography:"
  %br
  = @author.biography
