%table.table.table-striped
  %thead
    %tr
      %th= "Book"
      %th= "Author"
      %th= "Language"
  %tbody
    - books.each do |book|
      %tr
        %td= link_to book.name, book_path(book)
        %td= book.author.name
        %td= book.language.name

= will_paginate @books, :class => 'pager', renderer: BootstrapPagination::Rails
