%h1= 'New Book'
= form_for(:book, url: books_path) do |f|
  %p
    = f.label :name 
    %br
    = f.text_field :name
  %p
    = f.label :description 
    %br
    = f.text_area :description
  %p
    = f.submit