<!DOCTYPE html>
%html
  %head
    %title= 'Welcome to the your Bookshelf'
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag "application", "data-turbolinks-track" => true    
    = csrf_meta_tags
  %body
    .header= render "shared/header"
    .container
      = yield